/* **
    CSS reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags
a, button {
    cursor: revert;
} */

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
    user-select: auto;

}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
    line-break: after-white-space;
    user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

img {
    width: 100%;
}

/* ===================== 
        Notes To Do
   ===================== */




/* ===================== 
        Typography
   ===================== */

*, 
body, 
input, 
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* color: #121212; */
    line-height: 1.5
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .3em
}

/* ===================== 
    General Layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
    grid-column-gap: 1em;
}

@media(min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(100px, 320px)) minmax(1em, 1fr);
    }
}


/* Navigation */

.current {
    border-bottom: 2px solid deepskyblue;
}

.secondary-current {
    border-bottom: 2px solid #121212;
    opacity: 70%;
}

.header > * {
    grid-column: 2 / -2;
}

.header {
    background-color:aliceblue;
    font-weight: 500;
}

.header-content {
    display: flex;
    z-index: 1;
    font-size: 4rem;
}

.nav-logo {
    width: 80px;
}

.header-home {
    background: transparent;
    width: 100%;
}

.nav {
    position: fixed;
    background-color: #fff;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    transform: translateX(0);
    transition:  transform .5s;
    filter: drop-shadow(-10px 0 5px rgba(150, 150, 150, 0.3));
}

.navigation-open {
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-nav {
    padding: 3em 0 0;
}

.main-nav::before,
.main-nav::after,
.secondary-nav::after {
    content: '';
    background-color: rgb(175, 175, 175, .5);
    padding: .5px 60px;
}

.secondary-nav-list {
    justify-content: start;
    gap: 12%;
    margin-top: 1em;
}

.nav-link:hover,
.nav-link:focus {
    cursor: pointer;
    color: deepskyblue;
}

.secondary-nav-link {
    color: deepskyblue;
    font-weight: 500;
}

.secondary-nav-link:hover,
.secondary-nav-link:focus {
    cursor: pointer;
    color: #2b2a2a;
}

.close-nav {
    background: 0;
    border: none;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 .4em;
    position: absolute;
    left: 80%;
    padding-top: 10px;
}

.open-nav {
    background: 0;
    border: none;
    color: #121212;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 .4em;
    margin-left: auto;
}

ul li ul .sub-link {
    padding: 1rem 2rem;
    display: block;
}

.nav-list .nav-item .dropdown .sub-link:hover  {
    cursor: pointer;
    color: deepskyblue;
    /* text-decoration: underline; */
    background-color: rgb(246, 246, 246);
}

ul li ul {
    position: absolute;
    visibility: hidden;
    display: none;
    background: #fff;
    min-width: 8rem;
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 1rem;
}

ul li:hover > ul,
ul li ul:hover  {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li .dropdown {
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

@media (min-width: 650px) {

    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
        filter: none;
    }

    .nav-list {
        flex-direction: row;
    }

    .nav-link {
        font-size: 1rem;
        margin-left: 10px;
    }

    .main-nav {
        width: 50%;
        justify-content: space-between;
        margin-left: 8%;
        padding: 0;
    }

    .main-nav::before,
    .main-nav::after,
    .secondary-nav::after {
        display: none;
    }

    .desktop-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    .secondary-nav {
        width: 30%;
    }

    .secondary-nav-list {
        justify-content: end;
        gap: .5;
        margin-top: 0;
    }

    .header-home, .nav {
        background: transparent;
    }
}


/* ===================== 
          Footer
====================== */

.footer {
    background-color: #f5f5f5;
    padding: 3em 0;
    opacity: 70%;
    text-align: center;
}

.footer > * {
    grid-column: 2 / -2;
}

.footer-logo {
    margin-bottom: 2em;
    width: 120px;
    height: 120px;
}

.footer-nav-item {
    margin-bottom: .5em;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    color: deepskyblue;
    cursor: pointer;
}

.footer-bottom-bar {
    background-color: #d7d7d7;
    padding: 1em 0;
    margin: 0;
    opacity: 50%;
}

.footer-copyright, .socials {
    grid-column: 2 / -2;
    text-align: center;
    margin-top: 1em;
    /* opacity: 50%; */
}

.footer-text {
    display: none;
}



@media (min-width: 600px) {

    .footer-content {
        grid-column: 2 / 3;
        margin-right: auto;
    }

    .footer {
        padding: 6em 0;
    }

    .footer-nav {
        grid-column: 3 / 4;
    }

    .footer-nav-list {
        text-align: left;
    }

    .footer-text {
        display: inline;
        grid-column: 4 / 5;
        text-align: left;
        opacity: 70%;
    }

    .footer-para {
        line-height: 1.9;
    }

    .footer-copyright {
        grid-column: 4 / 5;
        margin-top: auto;
    }

    .socials {
        grid-column: 2 / 3;
    }

    .footer-copyright, 
    .socials {
        padding-bottom: 1em;
    }
}

/* ===================== 
          Hero
===================== */

.hero {
    background-image: url("/Img/christopher-burns-8KfCR12oeUM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 10em 0;
}

.hero > * {
    grid-column: 2 / -2;    
}

@media (min-width: 650px) {
    .hero {
        padding: 12em 0;
    }
}

@media (min-width: 1080px) {
    .hero {
        padding: 14em 0;
    }
}

/* ===================== 
    Category Section
===================== */

.category {
    padding: 2em 0;
}

.col {
    grid-column: 2 / -2;
    background-size: cover;
    background-position: center;
    padding: 7em;
    margin-bottom: 1em;
}

.col-1 {
    background-image: url("/Img/scott-blake-x-ghf9LjrVg-unsplash.jpg")
}

.col-2 {
    background-image: url("/Img/tolu-olubode-PlBsJ5MybGc-unsplash.jpg")
}

.col-3 {
    background-image: url("/Img/christopher-burns-8KfCR12oeUM-unsplash.jpg")
}

.col-4, 
.col-5,
.col-6 {
    display: none;
}

@media (min-width: 650px) {
    .category {
        display: grid;
    }

    .col-4, 
    .col-5,
    .col-6 {
        display: inline;
    }

    .col {
        padding: 5em;
    }

    .col-4 {
        background-image: url("/Img/christopher-burns-8KfCR12oeUM-unsplash.jpg")
    }
    
    .col-5 {
        background-image: url("/Img/scott-blake-x-ghf9LjrVg-unsplash.jpg")
    }
    
    .col-6 {
        background-image: url("/Img/tolu-olubode-PlBsJ5MybGc-unsplash.jpg")
    }

    .col-1 {
        grid-column: 2 / 3;
    }

    .col-2 {
        grid-column: 3 / 4;
    }

    .col-3 {
        grid-column: 4 / 5;
    }

    .col-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .col-5 {
        grid-column: 3 / 4;
    }

    .col-6 {
        grid-column: 4 / 5;
    }
}

@media (min-width: 860px) {
    .col {
        padding: 6em;
    }
}

/* ===================== 
    Info Section
====================== */

.info-section {
    background-color:aliceblue;
    padding: 3em 0;
    text-align: center;
}

.info-section > * {
    grid-column: 2 / -2;
}

